@import '@/styles/variables';

.header {
	padding: 40px 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 10;

		.logo {
			font-size: 1.5rem;
			color: $black;
			cursor: pointer;
		}

		.nav {
			> ul {
				display: flex;
				gap: 40px;

				> li {
					text-transform: uppercase;
					transition: all 0.4s ease-in-out;

					&:hover {
						color: $black;
						font-weight: 900;
					}
				}
			}
		}
	}
}
